html {
	@media #{$small-only} {
		font-size: $base-font-size-small;
	}
	@media #{$medium-only} {
		font-size: $base-font-size-medium;
	}
}

body {
	font-family: $body-font-family-lightest;
	&.not-fixed {
		position: relative !important;
		.off-canvas-navigation {
			top: 90px !important;
		}
	}

}

.content-container {
	background-color: $white;
	z-index: 10000;
}