*.DS_Store
/node_modules/*
/.project
.DS_Store
/html/lib/css
/html/lib/css/dlreboot.css
/html/lib/css/ie8.css
/html/lib/css/ie9.css
html/desktop/lib/css
html/legacy/lib/css
html/mobile/lib/css
original/lib/css